body {
    font-family: sans-serif;
    background-color: #212121;
    color: white
}
.challenges-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #212121;
}
.challenge {
    border: solid, 1px rgba(44, 43, 43, 0.438);
    padding: 10px;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 5px 15px 15px rgba(105, 105, 105, 0.059);
}
.challenge code {
    color: rgb(96, 192, 96);
}